#experienceSection {
    background-color: white;
    padding-bottom: 200px;
}
#experience {
    margin-top: 150px;
    margin-bottom: 20px;
}

#experienceCard {
    background-color: #F6F7FF;
    width: 700px;
    padding: 20px;
    justify-self: center;
    border-radius: 15px;
    margin-top: 50px;
}

#experienceHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#experienceHeader {
    color: #1C2445;
}

#experienceDate  {
    font-size: 25px;
    font-weight: bold;
    margin-top: 7px;
}

#experienceRole {
    margin-top: 15px;
    color: #3269FF;

}

#experienceResponsibilities {
    margin-top: 20px;
}

#experienceList {
    margin-bottom: 10px;
}

#listItem {
    margin-top: 15px;
    font-size: 17px;
}
